
.login_admin_body{
    background-color: #FFD000;
    font-family: 'Roboto', sans-serif;
}



.login_admin_container{
    background-color: #000000;
    width:70vh ;
    height:80vh ;
    margin: 0 auto;
    margin-top: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 1px #62676A;
    
   

}

.login_admin_logo{
    display: block;
    width:33vh ;
    height:35vh ;
    margin: 0 auto;
    margin-top: 2vh;
    margin-left: 4vh;
}

.login_admin_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5vh;
    
}

.login_admin_input{
    display: block;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3vh;
    height: 5vh;
    width: 42vh;
    border: 2px solid #FFD000;
    font-size: 3vh;
    text-shadow: 1px 1px 0px #000000;
  
}

.login_admin_input::placeholder{
    color: #CBCAC9;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
 
    
}

.login_admin_submit{
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: #FFD000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3vh;
    height: 8vh;
    width: 29vh;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    text-shadow: 1px 1px 0px #000000;
    
    
}

.login_admin_submit::value{
    color:#CBCAC9;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;


    
}